.player {
    border: solid 1px black;
    height: 12%;
    background-color: #b0bdd3;
}

.player.first {
    border: 1px solid red;
}

.profileImage {
    width: 40%;
    height: 100%;
}

.playerInfo {
    /* border: solid 1px black; */
    /* height: 80px; */
    width: 60%;
    height: 100%;
}

.playerNum {
    border: solid 1px black;
    height: 33%;
}

.score {
    border: solid 1px black;
    height: 33%;
}

.sequence {
    border: solid 1px black;
    height: 29%;
}

.box {
    width: 20%;
}

.quit {
    border: solid 1px black;
    width: 100%;
    height: 17%;
}
